<div class="intro">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis urna tellus. Vestibulum dui elit, lobortis sed dui eu, aliquet dictum ex. Sed molestie gravida enim, nec vestibulum velit viverra non. Fusce iaculis volutpat placerat. Maecenas mollis dolor a tristique mollis. Fusce vitae dolor sodales, volutpat neque eu, efficitur enim. Sed aliquam neque nec purus lacinia, imperdiet fermentum ligula tincidunt. Suspendisse rhoncus urna orci, quis efficitur nulla efficitur sit amet. Nulla consectetur tortor risus, sed feugiat lorem cursus at. Quisque eleifend nunc ultricies, consectetur tellus at, dignissim metus. Fusce eu lectus id velit pellentesque molestie.</p>

  <p>Etiam vitae lectus semper, bibendum tortor sit amet, pulvinar nisl. Morbi tincidunt laoreet nisi, tristique porta lectus consectetur vitae. Proin in tellus ac neque egestas gravida sit amet quis ante. Maecenas auctor et quam eu molestie. Nunc porttitor libero sit amet odio ultricies eleifend. Proin tincidunt sagittis felis, a viverra nibh eleifend sit amet. Nam vel arcu enim. Quisque scelerisque, erat id gravida facilisis, turpis ipsum feugiat libero, ut sagittis est odio non nunc. Vivamus eleifend risus eget est iaculis fringilla. Mauris justo quam, vestibulum eget finibus a, viverra mollis tortor. In bibendum felis a feugiat fringilla. Ut euismod tortor dignissim rutrum vulputate. Sed imperdiet semper vulputate.</p>

  <p>Suspendisse potenti. Nunc tempor, dolor at scelerisque tincidunt, ipsum turpis suscipit ante, sit amet rhoncus nisl libero ut dui. Duis gravida pellentesque tellus in venenatis. Cras ligula sem, aliquam vitae sagittis nec, hendrerit non dui. Morbi sagittis blandit augue et convallis. Nam et blandit justo. Quisque efficitur mollis lorem, ut pulvinar nulla. Ut varius tellus odio, vel mattis tortor pulvinar fermentum.</p>

  <div class="intro-button">
    <%= link_to "Movilidad Social", mobility_index_path, class: "intro-button__link" %>
  </div>

  <div class="intro-button">
    <%= link_to "Movilidad Social Ascendente", upward_mobility_indicator_index_path, class: "intro-button__link" %>
  </div>
</div>
