<div class="intro">
  <p>El Atlas de movilidad social del CEEY es el primer esfuerzo de desagregación regional para México sobre esta materia. El grado de heterogeneidad en movilidad social y sus componentes reflejan el grado de desigualdad de oportunidades en términos de ubicación geográfica. Para que el logro de vida de las personas dependa únicamente de su mérito y esfuerzo, ninguna circunstancia fuera del control de las personas debería determinar su destino.</p>

  <p>Como se muestra en este Atlas, México está todavía lejos de ser un país donde las oportunidades, y por ende las opciones de movilidad social, se repartan de manera equitativa, independientemente del lugar donde se nazca. </p>

  <div class="intro-button">
    <%= link_to "Movilidad Social", mobility_index_path, class: "intro-button__link" %>
  </div>

  <div class="intro-button">
    <%= link_to "Movilidad Social Ascendente", upward_mobility_indicator_index_path, class: "intro-button__link" %>
  </div>
</div>
