// fonts
$default-font: "Lato";
$header-font: "Montserrat";

// colors
$green: rgb(20, 88, 97);
$green-dark: rgb(0, 35, 44);
$orange: rgb(245, 133, 49);
$gray: rgb(205, 203, 202);
$gray-light: rgb(247, 247, 248);
$gray-dark: rgb(149, 150, 150);
$teal: rgb(65, 147, 156);

// other values
$sidebar-width: 17rem;

body {
  font-family: $default-font;

  a {
    color: $green;

    &:hover {
      color: $orange;
      text-decoration: none;
    }
  }
}

.sidebar {
  background-color: $gray-light;
  min-width: $sidebar-width;
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.sidebar__logo {
  padding: 2rem 1rem 3rem;
}

.menu {
  @extend .nav;
  @extend .flex-column;

  font-family: $header-font;
  font-weight: 500;
}

.menu__item {
  margin-bottom: 1.5rem;
}

.menu__link {
  display: block;
  padding: 0.5rem 1rem;
  color: $gray-dark;
}

.header {
  height: 8rem;
  margin-left: $sidebar-width;
  background-color: $green;
  display: flex;
  align-items: center;
  padding-left: 3rem;


  h1 {
    color: white;
    font-family: $header-font;
    font-size: 2.3rem;
    font-weight: 500;

  }
  span {
    color: $orange;
  }
}

.content {
  padding: .7rem 1rem;
  margin-left: $sidebar-width;
}

.content__title {
  padding: 1.5rem 0;
  margin-left: 2rem;
  color: $green-dark;
  font-family: $header-font;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -.05rem;
}

.content__body {
  margin-top: .7rem;
}

.footer {
  font-size: .7em;
  margin-left: $sidebar-width;
  background-color: $green;
  color: white;
  padding-top: 1.3rem;
  padding-bottom: 1rem;

  a {
    color: white;
  }
}

.footer_row {
  display: flex;
  flex-wrap: wrap;
}

.footer__privacy {
  text-align: center;
  color: $gray-dark;
  margin-top: .7rem;

  a {
    padding-right: 1.5rem;
    color: $gray-dark;

    &:hover {
      color: $gray;
    }
  }
}

.footer-share-buttons {
  margin-top: 1rem;
}

$button-size: 1.7rem;

.social-share-button {
  .ssb-icon {
    background-size: $button-size $button-size !important;
    height: $button-size !important;
    width: $button-size !important;
    margin: 1px !important;
  }
}
