// Place all the styles related to the UpwardMobilityIndicator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.upward-mobility__y-label {
  color: $green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 550;
  font-size: 0.9rem;
  text-align: center;
  align-items: center;
  float: right;
  height: 100%;

  a {
    margin-top: 10px;
  }
}


.upward-mobility__i {
  background-color: #145861;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff !important;
  font-family: "Times New Roman";
  font-style: italic;
  cursor: default;
  display: inline-block;
  text-align: center;
  font-weight: 550;
  font-size: 0.9rem;
}

.upward-mobility__i--link {
  cursor: pointer;
}

.upward-mobility__chart {

  canvas {
    background-color: #F8F8F8;
    padding: 1rem;
  }
}

.upward-mobility__x-label {
  color: $green;
  font-weight: 550;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  text-align: center;
}

.upward-mobility-indicator {
  display: inline-block;
  font-size: 0.9rem;
  width: calc(100% - 28px);
  margin: 0.13rem;
  border: 0;
  background-color: $green;
  color: white;
  padding: 0.25rem;

  &:hover {
    color: white;
  }

  &.active {
    background-color: #E1F0DB;
    color: black;
    font-weight: 505;
  }
}

.updward-mobility-legends-container {
  display: flex;
}

