<% provide(:title, "MOVILIDAD SOCIAL ASCENDENTE") %>

<div class="row">
  <div class="col-2">
    <div class="upward-mobility__y-label">
      Movilidad social <br> ascendente
      <a href="https://ceey.org.mx/social-mobility-in-mexico-what-can-we-learn-from-its-regional-variation/"
         target="_blank"
         class="upward-mobility__i upward-mobility__i--link"
         data-toggle="tooltip"
         data-placement="auto"
         data-html="true"
         title="<b>Fuente</b>: <u>Delajara, Campos-Vázquez y Vélez-Grajales (2020)</u>. Documento financiado
                 por la Comisión Europea a través del programa de investigación sobre desigualdades en países
                 emergentes y en desarrollo, coordinado por la Agencia Francesa de Desarrollo.">i</a>
      <span class="upward-mobility__y-description">El punto de partida es el percentil 25.</span>
    </div>
  </div>
  <div class="col-6">
    <div class="upward-mobility__chart">
      <canvas data-behavior="upward_mobility_chart_container"></canvas>
    </div>
    <div class="upward-mobility__x-label">
      <p>Selecciona el indicador:</p>
    </div>
  </div>
  <div class="col-4">
    <div class="upward-mobility-legends-container">
      <div class="mobility-regions">
        <div class="mobility-region">
          <div class="mobility-region__color norte"></div>
          <div class="mobility-region__title">Norte</div>
        </div>
        <div class="mobility-region">
          <div class="mobility-region__color norte-occidente"></div>
          <div class="mobility-region__title">Norte-Occidente</div>
        </div>
        <div class="mobility-region">
          <div class="mobility-region__color centro-norte"></div>
          <div class="mobility-region__title">Centro-Norte</div>
        </div>
        <div class="mobility-region">
          <div class="mobility-region__color centro"></div>
          <div class="mobility-region__title">Centro</div>
        </div>
        <div class="mobility-region">
          <div class="mobility-region__color sur"></div>
          <div class="mobility-region__title">Sur</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 offset-2">
    <% Indicator.all.each_with_index do |indicator, i| %>
      <%= link_to indicator.description, upward_mobility_indicator_path(slug: indicator.slug),
        remote: true, "data-behavior": "upward-mobility-indicator-selector",
        class: "upward-mobility-indicator" %>
      <span class="upward-mobility__i"
            data-toggle="tooltip"
            data-placement="right"
            data-html="true"
            title="<%= indicator.tooltip %>">i</span>
    <% end %>
  </div>

  <div class="col-4">
    <a class="upward-mobility__download-link" href="files/MOV_SOC_AS_Y_DET_2020.xlsx">
      <button class="map-actions__button" type="button"> DESCARGA </button>
    </a>
  </div>
</div>
