<% provide(:title, "MOVILIDAD SOCIAL ABSOLUTA ASCENDENTE+") %>

<div class="row upward_mobility">
  <div class="upward_mobility__y_label">
    <p> EJE Y: </p>
    <p> Movilidad social  </p>
    <p> abosuluta ascendente  </p>
  </div>
  <div class="upward_mobility__chart">
    <canvas data-behavior="upward_mobility_chart_container"></canvas>
  </div>
  <div class="upward_mobility__x_label">
    <p>EJE X: Selecciona el indicator</p>
  </div>
</div>

<div class="upward_mobility_indicators">
  <% Indicator.all.each_with_index do |indicator, i| %>
    <%= link_to indicator.description, upward_mobility_indicator_path(slug: indicator.slug),
          remote: true, "data-behavior": "upward-mobility-indicator-selector",
          class: "upward_mobility_indicators__button" %>
  <% end %>
</div>
