<% provide(:title, "MOVILIDAD SOCIAL ABSOLUTA ASCENDENTE+") %>


<style>
    .container {
        width: 50%;
        height: 50%;
    }
</style>
<body>
    <button id="renderBtn">
        Render
    </button>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>

</body>

<script>
function renderChart() {
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'scatter',
        data: {
            datasets: [{
                label: 'Scatter Dataset',
                data:  <%= @data.to_json.html_safe %>
            }]
        },
        options: {
          scales: {
              xAxes: [{
                  gridLines: {
                      drawOnChartArea: false
                  }
              }],
              yAxes: [{
                  gridLines: {
                      drawOnChartArea: false
                  }
              }]
          }
        }
    });
}

document.querySelector("#renderBtn").addEventListener("click", function () {
        renderChart();
    }
);
</script>
