<% provide(:title, "MOVILIDAD SOCIAL INTERGENERACIONAL EN:") %>

<div class="mobility-menu">
  <% Category.all.each do |category| %>
    <div class="mobility-dropdown">
      <button class="mobility-dropwdown__button" data-behavior="mobility-category-button"><%= category.title %></button>
      <div class="mobility-dropdown__content">
        <% category.quintiles.each do |quintile| %>
          <%= link_to quintile.name, mobility_path(slug: quintile.slug),
                      remote: true, "data-behavior": "mobility-quintile-selector" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="mobility-category">
  <div class="mobility-category__description" data-behavior="mobility-category-description">
  </div>
</div>

<div class="mobility-content">
  <div class="legends-container">
    <div class="mobility-quintile">
      <div class="mobility-quintile__title" data-behavior="mobility-quintile-title"></div>
      <div class="mobility-quintile__description" data-behavior="mobility-quintile-description"></div>
      <div class="mobility-quintile__kpis"><ul data-behavior="mobility-kpis-gender"></ul></div>
      <div class="mobility-quintile__color-scale" data-behavior="mobility-kpis-color-scale"></div>
    </div>
    <div class="mobility-regions">
      <div class="mobility-region">
        <div class="mobility-region__color norte"></div>
        <div class="mobility-region__title">Norte</div>
      </div>
      <div class="mobility-region">
        <div class="mobility-region__color norte-occidente"></div>
        <div class="mobility-region__title">Norte-Occidente</div>
      </div>
      <div class="mobility-region">
        <div class="mobility-region__color centro-norte"></div>
        <div class="mobility-region__title">Centro-Norte</div>
      </div>
      <div class="mobility-region">
        <div class="mobility-region__color centro"></div>
        <div class="mobility-region__title">Centro</div>
      </div>
      <div class="mobility-region">
        <div class="mobility-region__color sur"></div>
        <div class="mobility-region__title">Sur</div>
      </div>
    </div>
    <div class="mobility-notes">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam commodi excepturi qui sunt sed, maiores adipisci.</p>
    </div>
  </div>

  <div class="map-container">
    <div class="mobility-map" data-behavior="mobility-kpis-region">
      <div class="mobility-map__map"></div>
      <hr/>

      <div class="map-actions">
        <button class="map-actions__button" type="buttom"> DESCARGA </button>
      </div>
    </div>
  </div>
</div>
