<% provide(:title, "Movilidad Social") %>

<div class="row mobility-menu">
  <% Category.all.each do |category| %>
    <div class="col-3 mobility-dropdown">
      <button class="mobility-dropwdown__button"><%= category.description %></button>
      <div class="mobility-dropdown__content">
        <% category.quintiles.each do |quintile| %>
          <%= link_to quintile.name, mobility_path(slug: quintile.slug),
                      remote: true, "data-behavior": "mobility-quintile-selector" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="row mobility-content">
  <div class="col-6">
    <div class="mobility-map" data-behavior="mobility-kpis-region"></div>
  </div>
  <div class="col-6">
    <div class="mobility-quintile">
      <div class="mobility-quintile__title" data-behavior="mobility-quintile-title"></div>
      <div class="mobility-quintile__description" data-behavior="mobility-quintile-description"></div>
      <div class="mobility-quintile__kpis"><ul data-behavior="mobility-kpis-gender"></ul></div>
      <div class="mobility-quintile__color-scale" data-behavior="mobility-kpis-color-scale"></div>
    </div>
  </div>
</div>
